.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.container .pageButtons {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.pageButtons > button {
  border: none;
  cursor: pointer;
  background-color: #aaa;
  padding: 0.3rem;
  border-radius: 5px;
}

button:disabled {
  background-color: #ccc;
}
