.container {
  margin: 1rem 0 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  padding: 7px;
  width: 20%;
}

.container > input::placeholder {
  font-style: italic;
}

.container > select {
  outline: none;
  border: none;
  padding: 3px;
}

.container button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  margin-right: 1rem;
}

.container button:hover {
  transform: translate(0, -2px);
}

.container button > img {
  object-fit: contain;
  height: 1.3rem;
  width: 30px;
}
